<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tinybuddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D67641F1DA9B48F00AE096B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6764331DA9B48F00AE096B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D67643E1DA9B48F00AE096B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
